<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: common_header(~{::title}, ~{})}">
    <title th:text="#{sideMenu.game.register}">타이틀</title>
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="~{layout/partner/body-header :: body_header}"></header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="~{layout/partner/left :: common_left}"></aside>
<!-- End Sidebar -->

<main id="main" class="main">

    <div class="pagetitle">
        <h1 th:text="#{sideMenu.game.goods}">게임 목록</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item" th:text="#{sideMenu.game}">Top Menu</li>
                <li class="breadcrumb-item active" th:text="#{sideMenu.game.goods}">Main Menu</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">게임 등록 리스트</h5>
                        <button type="button" class="btn btn-info" id="register_btn">게임 등록</button>

                        <!-- Default Table -->
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">커버사진</th>
                                <th scope="col">게임이름</th>
                                <th scope="col">개발사</th>
                                <th scope="col">배급사</th>
                                <th scope="col">등록일</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr th:each="goods, goodsStat :${pageList}">
                                <th scope="row" th:text="${goodsStat.count}">인덱스</th>
                                <td><img th:src="'/upload/'+${goods.thumbnailName}" width="50" height="50"></td>
                                <td><a th:href="@{${pagePath}+'/'+${goods.id}}" th:text="${goods.gameName}"></a></td>
                                <td th:text="${goods.developer}">개발사</td>
                                <td th:text="${goods.publisher}">배급사</td>
                                <td th:text="${{goods.createdDate}}">등록일</td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- End Default Table Example -->

                        <nav th:replace="~{layout/paging :: common_paging(pageList=${pageList}, pagePath=${pagePath})}"></nav>


                    </div><!-- End Card Body -->
                </div> <!-- End Card -->
            </div> <!-- End Col -->
        </div> <!-- End Row -->
    </section>
</main>

<footer th:replace="~{layout/footer :: common_footer(~{::script})}">
    <script>
       //버튼 클릭시 페이지 이동
       document.getElementById('register_btn').addEventListener('click', function () {
            location.href = "/partner/game/goods/register";
       });
    </script>
</footer>
</body>
</html>