<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: common_header(~{::title}, ~{})}">
  <title>파트너 로그인</title>
</head>
<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="#" class="logo d-flex align-items-center w-auto">
                  <img src="../assets/img/logo.png" alt="">
                  <span class="d-none d-lg-block" th:text="#{company.partner.name}">회사명</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">
                  <form class="row g-3" th:action th:object="${loginFormDto}" method="post">

                    <div class="col-12">
                      <label for="loginId" class="form-label" th:text="#{loginForm.id}">아이디</label>
                      <div class="input-group has-validation">
                        <!--<span class="input-group-text" id="inputGroupPrepend">@</span>-->
                        <input type="text" class="form-control" th:field="*{loginId}" th:errorclass="field-error" id="loginId" th:value="*{loginId}" required>
                        <div class="field-error" th:errors="*{loginId}">아이디 오류</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="loginPassword" class="form-label" th:text="#{loginForm.password}">비밀번호</label>
                      <input type="password" class="form-control" th:field="*{loginPassword}" th:errorclass="field-error" id="loginPassword" required>
                      <div class="field-error" th:errors="*{loginPassword}">비밀번호 오류</div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:field="*{loginIdCheck}" id="loginIdCheck" th:checked="*{loginIdCheck}">
                        <label class="form-check-label" for="loginIdCheck" th:text="#{loginForm.rememberMe}">아이디 저장</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Login</button>
                    </div>
                    <div class="col-12">
                      <p class="small mb-0"><a href="join" th:text="#{loginForm.join}">회원가입</a></p>
                      <p class="small mb-0"><a href="join.html" th:text="#{loginForm.findPw}">비밀번호 찾기</a></p>
                    </div>
                  </form>

                </div>
              </div>

              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>

</html>