<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside id="sidebar" class="sidebar" th:fragment="common_left">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapsed" href="/partner/main">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#game-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span th:text="#{sideMenu.game}">Game</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="game-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a href="/partner/game/goods">
                        <i class="bi bi-circle"></i><span th:text="#{sideMenu.game.register}">게임 등록</span>
                    </a>
                </li>
                <li>
                    <a href="/partner/game/goods-approval">
                        <i class="bi bi-circle"></i><span th:text="#{sideMenu.game.approval}">게임 신청</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Forms Nav -->
    </ul>

</aside>
</body>

</html>